<nav>
    <ul>
        <li><a href="/" class="{{#if active.home}}active{{/if}}"><i class="fab fa-patreon"></i>
                Trang chủ</a></li>
        <li><a href="/grapi" class="{{#if active.grapi}}active{{/if}}"><i class="far fa-laugh"></i> Công cụ</a></li>
        <li><a href="https://github.com/f97" target="_blank"><i class="fab fa-github-alt"></i> Github</a></li>
        <li><a href="/about" class="{{#if active.about}}active{{/if}}"><i class="fas fa-burn"></i> Tớ Là</a></li>
    </ul>
</nav>