<nav>
    <ul>
        <li><a href="/" class="{{#if active.home}}active{{/if}}"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a></li>
        <li><a href="/grapi" class="{{#if active.grapi}}active{{/if}}"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Công cụ</a></li>
        <li><a href="/history" class="{{#if active.history}}active{{/if}}"><i class="fa fa-history" aria-hidden="true"></i>API History</a></li>
        <li><a href="https://github.com/f97" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>Github</a>
        </li>
        <li><a href="/about" class="{{#if active.about}}active{{/if}}"><i class="fa fa-user-o" aria-hidden="true"></i>Tớ Là</a></li>
    </ul>
</nav>