<div class="card mb-3">
    <div class="card-header">
        <h3><i class="fa fa-folder-open-o"></i> Cấu trúc thư mục API</h3>
    </div>
    <div class="card-body">

        <div id="simpleTree" class="jstree jstree-1 jstree-default jstree-closed">
            <ul class="jstree-container-ul jstree-children">
                <li class="jstree-node jstree-open"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor"><i
                            class="jstree-icon jstree-themeicon fa fa-folder-open jstree-themeicon-custom"></i>api
                    </a>
                    <ul class="jstree-children">
                        <li class="jstree-node">
                            <i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor" href="#"><i
                                    class="jstree-icon jstree-themeicon fa fa-folder-open jstree-themeicon-custom"></i>controllers
                            </a>
                            <ul class="jstree-children">
                                <li class="jstree-node jstree-leaf"><i class="jstree-icon jstree-ocl"></i><a
                                        class="jstree-anchor" href="#"><i
                                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>...........</a>
                                </li>
                                <li class="jstree-node jstree-leaf"><i class="jstree-icon jstree-ocl"></i><a
                                        class="jstree-anchor" href="#"><i
                                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>...........</a>
                                </li>
                            </ul>
                        </li>
                        <li class="jstree-node"><i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor"
                                href="#"><i
                                    class="jstree-icon jstree-themeicon fa fa-folder-open jstree-themeicon-custom"></i>models
                            </a>
                            <ul class="jstree-children">
                                <li class="jstree-node jstree-leaf"><i class="jstree-icon jstree-ocl"></i><a
                                        class="jstree-anchor" href="#"><i
                                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>...........</a>
                                </li>
                                <li class="jstree-node jstree-leaf"><i class="jstree-icon jstree-ocl"></i><a
                                        class="jstree-anchor" href="#"><i
                                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>...........</a>
                                </li>
                            </ul>
                        </li>
                        <li class="jstree-node jstree-open"><i class="jstree-icon jstree-ocl"></i><a
                                class="jstree-anchor" href="#"><i
                                    class="jstree-icon jstree-themeicon fa fa-folder-open jstree-themeicon-custom"></i>routes
                            </a>
                            <ul class="jstree-children">
                                <li class="jstree-node jstree-leaf"><i class="jstree-icon jstree-ocl"></i><a
                                        class="jstree-anchor" href="#"><i
                                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>...........</a>
                                </li>
                                <li class="jstree-node jstree-leaf"><i class="jstree-icon jstree-ocl"></i><a
                                        class="jstree-anchor" href="#"><i
                                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>............</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#"><i
                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>package.json</a>
                </li>
                <li>
                    <i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#"><i
                            class="jstree-icon jstree-themeicon fa fa-file jstree-themeicon-custom"></i>server.js</a>
                </li>
            </ul>
        </div>

    </div>
</div><!-- end card-->