<div class="container">
    <h3>GRAPI LÀ GÌ?</h3>
    <p>Đây là một công cụ giúp sinh API tự động dựa trên đặc tả phần mềm <i>(Dựa trên json)</i> của người dùng.</p>
    <hr>
    <h3>HIỆN TẠI CÔNG CỤ CÓ THỂ ĐẶC TẢ</h3>
    <ul>
        <li><strong>appName</strong>: Tên của project API bạn định tạo.</li>
        <li><strong>mongoURL</strong>: Đường dẫn của Mongodb</li>
        <li><strong>port</strong>: Cổng kết nối</li>
        <li><strong>authenticate</strong>: Xác thực với user model với có các tham số cơ bản. <i>(Nên sửa đổi sau đó)</i></li>
        <li><strong>Các dòng tiếp theo</strong> là resource với số lượng không giới hạn và thuộc tính cũng không giới hạn. <i>Hiện tại chỉ hỗ trợ String và Number là kiểu dữ liệu.</i></li>
    </ul>
</div>