{{!-- <section class="section" id="select-btn" style="display:none">
    <h2 class="section__header">Bạn đã có file config chưa?</h2>
    <button onclick="" class="btn btn-download"><i class="fa fa-gavel" aria-hidden="true"></i> ĐÃ CÓ</button>
    <button onclick="" class="btn btn-using"><i class="fa fa-gavel" aria-hidden="true"></i> CHƯA CÓ</button>
</section>

<section class="section" id="upload" style="display:none">
    <h2 class="section__header">Gửi file config của bạn lên</h2>
    <input type="file" id="fileinput" />
    <button onclick="" class="btn btn-using" id="upload"><i class="fa fa-gavel" aria-hidden="true"></i>UPLOAD</button>
</section> --}}

<section class="section" id="api-build">
    <div id="jsoneditor"></div>
    <button onclick="buildAPI()" class="btn btn-build"><i class="fa fa-gavel" aria-hidden="true"></i> Bắt đầu tạo
        API</button>
</section>

<div id="building" style="
    padding: 75px;
    text-align: center;
"><svg id="login_loading" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" hidden="" style="margin: auto;text-align: center;">
                                    <circle fill="#1b326e" cx="84" cy="50" r="0">
                                        <animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                        <animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                    </circle> 
                                    <circle fill="#ff5975" cx="40.4434" cy="50" r="10">
                                        <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="-0.5s"></animate>
                                        <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="-0.5s"></animate>
                                    </circle>
                                    <circle fill="#1b326e" cx="16" cy="50" r="7.18924">
                                        <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="-0.25s"></animate>
                                        <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="-0.25s"></animate>
                                    </circle>
                                    <circle fill="#ff5975" cx="84" cy="50" r="2.81076">
                                        <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                        <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                    </circle>
                                    <circle fill="#1b326e" cx="74.4434" cy="50" r="10">
                                        <animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                        <animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                    </circle>
                                </svg><h1 style="
    /* margin: 141px; */
    /* margin-bottom: -5px; */
    padding: 84px;
    text-align: center;
    padding-top: 0px;
">Đang tạo API...</h1><h1></h1><div></div></div>

<section class="api-docs" id="api-document">
    <h3>Đã tạo xong API</h3>

    <a id="url-download" href=""><input type="button" class="btn btn-download btn-green"
            value="Click để tải API xuống"></a>
    <div>Xem hướng dẫn sử dụng API tại <a href="https://github.com/f97/grapi/blob/master/README.md">https://github.com/f97/grapi</a></div>
    {{!-- <h3>Dưới đây là cấu trúc thư mục API</h3>
    <div id="jstree_demo_div"></div> --}}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.29.1/jsoneditor.min.js"></script>
<script src="/js/main.js"></script>