<section class="hero">
    <div id="jsoneditor"></div>
    <button id="build-api" onclick="buildAPI()" class="btn-build">Tạo API</button>
    <div id="demo"></div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.29.1/jsoneditor.min.js"></script>
<script src="/js/main.js"></script>