<!-- BEGIN CSS for this page -->
<link href="assets/plugins/jstree/style.css" rel="stylesheet" type="text/css" />
<!-- END CSS for this page -->
<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">{{title}}</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">{{title}}</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div id="form-json" class="col-xl-12">
        <div class="text-center">
            <div class="form-group">
                {{!-- <label for="json-config">Nhập vào Json config nào?</label> --}}
                <div id="json-config" name="config"></div>
            </div>
            <button onclick="buildAPI()" class="btn btn-primary"><span class="btn-label"><i
                        class="fa fa-check"></i></span>Tạo API</a>
        </div>
    </div>
</div>
<div id="api-document">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h3><i class="fa fa-check-square-o"></i> Liên kết tải về</h3>
                </div>
                <div class="card-body">
                    <div class="button-list">
                        <a id="url-download" role="button" href="#" class="btn btn-success" target="_blank">Tải về<span
                                class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h3><i class="fa fa-check-square-o"></i> Hướng dẫn sử dụng công cụ</h3>
                </div>
                <div class="card-body">
                    <div class="button-list">
                        <p>Hiện tại công cụ đã có một tài liệu hỗ trợ sử dụng, nếu có gì thắc mắc có thể tìm đọc thêm.</p>
                        <a id="url-download" role="button" href="#" class="btn btn-success" target="_blank">Xem thêm<span
                                class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            {{> treedocs}}
        </div>
    </div>
</div>