<div class="container">
    <h1>
        Grapi
    </h1>
    <p class="subtitle">
        Công cụ sinh API tự động dựa trên đặc tả phần mềm.
        <br>Giúp bạn tiết kiệm thời gian, công sức trong việc xây dựng một API cho các hệ thống.
        <br>là sự kết hợp tuyệt vời giữa
        <a href="https://github.com/f97/grapi">Grapi</a>
        +
        <a href="https://github.com/expressjs/express">Express</a>
    </p>
    <br />
    <p>
        <a role="button" href="/grapi" class="btn btn-using">Sử dụng công cụ <span class="btn-label btn-label-right"><i
                    class="fa fa-arrow-right"></i></span></a>
    </p>
</div>