<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grapi - Công cụ sinh API tự động</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.29.1/jsoneditor.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=vietnamese" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    {{>nav}}
  </header>

  <section class="hero">
    {{{body}}}
  </section>

  <footer>
    <div class="container">
      <div>
        Công cụ được xây dựng ❤️ bởi
        <a href="https://github.com/f97" target="_blank">f97</a>
        <br>Source code và CHANGELOG đang có trên
        <a href="https://github.com/f97/front-grapi" target="_blank">GitHub</a>
      </div>
    </div>
  </footer>
</body>

</html>